<html>
<head>
	<link rel="stylesheet" type="text/css" href="HappyGoVege.css">
</head>
<body>
  <header id:"top_header">
  	<h1>HappyGoVege</h1>
  </header>
<section>
  <div id="login-signup">
  <div class="left-box">
    <h2>Sign Up</h2>
      <input type="text" name="username" placeholder="Username"/>
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="password" name="password2" placeholder="Retype Password"/>
      <input type="submit" name="signup-button" value="Sign Up"/>
</div>
<div class="right-box">
  <span class="signinwith">Sign in with<br/>Social Network</span>

  <button class="Social facebook">Log in with Facebook</button>
  <button class="Social google">Log in with Google+</button>
</div>
  <div class="or">OR</div>
</section>
<div id="footer">
	<footer>Copyright&copy HappyGoVege 2018</footer>
</div>
	<aside>
		<div id="download">
			<p3>Download our app in PlayStore</p3><br />
			<p4>Download our app in AppStore</p4>
		</div>
	</aside>
</body>

</html>
